.home-bg-container{
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: max-content;
}
.status-posts-container{
    width: 60%;
    max-width: 600px;
    align-items: center;
    margin-right: 32px;
}
.friends-posts-container{
    list-style-type: none;
    padding: 0;
}
/* Designing for scroll-bar */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
    position: absolute;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}