.friend-chat-container{
    width: 100%;
    height: 100%;
}
.chat-header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid #dbdbdb;
}
.chat-friend-image-container{
    width: 24px;
    height: 24px;
    border-radius: 12px;
}
.chat-friend-image{
    width: 100%;
    border-radius: 12px;
}
.chat-friend-name{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color:#262626;
    font-weight: 600;
    margin-left: 16px;
    margin-right: 8px;
}
.chat-more-options-icon-container{
    margin-left: auto;
}
.chat-messages-container{
    list-style-type: none;
    padding: 0 16px;
    overflow-y: auto;
    height: 80%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.chat-message-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}
.sender-message-container{
    padding: 16px;
    border-radius: 32px;
    border: 1px solid #dedede;
    margin-left: 8px;
    max-width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.message-content{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #2e2e2e;
    font-weight: 400;
    margin: 0;
}
.self-chat-message{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 8px;
}
.self-message-container{
    padding: 16px;
    border-radius: 32px;
    background-color: #efefef;
    max-width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-container{
    padding: 20px;
    vertical-align: baseline;
}
.self-reply-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 22px;
    padding: 0 10px;
}
.chat-emojis-container{
    padding: 8px;
}
.message-input-container{
    padding: 8px;
    margin-right: auto;
    width: 80%;
}
.message-input{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    width: 100%;
    resize: none;
    height: 22px;
    width: 100%;
    line-height: 18px;
    border: none;
    outline: none;
}
.upload-media-contaier{
    padding: 8px;
}
.like-button-container{
    padding: 8px;
}