.home-page-more-options-overlay{
    background-color: #000000a1 !important;
}
.home-page-more-options-report-content {
    background-color: transparent;
  }
.home-page-post-options-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #ffffff;
}
.home-page-post-option-red{
    border:0;
    border-bottom: 1px solid #dbdbdb;
    color: #ED4956;
    padding: 15px;
    width: 100%;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    outline: none;
}
.home-page-post-option{
    border:0;
    border-bottom: 1px solid #dbdbdb;
    color: #262626;
    padding: 14px;
    width: 100%;
    font-weight: 500;
    outline: none;
}
.home-page-post-selected-option-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.home-page-post-selected-option{
    margin: 4px;
}
.home-page-post-selected-question-container{
    border:0;
    border-bottom: 1px solid #dbdbdb;
    padding: 15px;
    width: 100%;
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.home-page-post-selected-question{
    color: #262626;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    outline: none;
    margin: 4px;
}
.home-page-post-selected-question-empty-container{
    width: 20px;
    height: 20px;
}
.home-page-post-selected-heading-container{
    border:0;
    border-bottom: 2px solid #dbdbdb;
    padding: 8px;
    width: 100%;
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.home-page-post-selected-question-close-icon{
    border: 0;
    outline: 0;
}